.backTruck {
	background: linear-gradient(
		-36.13deg,
		rgb(34, 34, 34),
		rgb(106, 105, 105) 93.515%
	);
}
.from-top-animation {
	animation: normal fromTop 0.6s;
	position: relative;
}

@keyframes fromTop {
	from {
		top: 1000%;
	}
	to {
		top: 0;
	}
}
.info-widget {
	display: flex;
	align-items: center;
	text-align: left;
}
.info-widget-data {
	text-align: center;
	background: #dddddd;
	color: black;
	border-radius: 6px;
	padding: 2px 10px;
	margin: 0 10px;
	text-wrap: nowrap;
}
