.table-container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.header {
  display: flex;
  font-weight: bold;
}

.column-header {
  padding: 8px;
  border: 1px solid #ddd;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  padding: 8px;
  border: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: col-resize;
}
